@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    font-weight: bold;
}

.logo {
    height: 50px;
    position: fixed;

}

header {
    position: sticky;
    top: 0;
}

nav {
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}

footer {
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
}

footer > p {
    text-align: center;
    color: white;
}

ul {
    padding: 10px;
    justify-content: center;
    align-content: center;
    display: flex;
}

li {
    display: inline;
    margin: 20px;
    font-family: Poppins;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

button {
    padding-left: 10px;
    padding-right: 10px;
    border: 0.5px solid black;
    border-radius: 5px;
}

input {
    padding: 5px;
    display: grid;
    width: 500px;
}

.container {
    padding: 40px;
    min-height: 100vh;
    height: auto;
    background-image: url(background.png);
    background-size: 100%;
    
}

.dashboard {
    height: 250px;
    border-radius: 20px;
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
}

.weathercard {
    display: grid;
    place-items: center;
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid gray;
}

.searchbar {
    display: grid;
    margin: 20px;
    justify-content: center;
    align-content: center;
}

form {
    display: grid;
    justify-content: left;
}

label {
    display: grid;
    justify-content: left;
    font-size: 30px;
    color: white;
}

input {
    margin: 20px;
    border-radius: 20px;
    border: none;
    display: grid;
    justify-content: left;   
}

button {
    border: none;
    height: 30px;
    width: 90px;

}

